@use "Styles/utilities" as *;



body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 140px 60px 90px 60px;
    background: url("../../../public/images/bg-pattern-top-desktop.svg"), url("../../../public/images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}


/* Custom Scroll-bar */

::-webkit-scrollbar {
    width: 10px;
    height: 10%;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $Dark-Grayish-Magenta;
  }



@include breakpoint(sm) {
    body {
        padding: 78px 16px 0 24px;
        background: url("../../../public/images/bg-pattern-top-mobile.svg"), url("../../../public/images/bg-pattern-bottom-mobile.svg");
    }
}